{% extends 'base.html' %}

{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <h1 class="font-weight-light">로그인창입니다.</h1>
            <p>로그인창 만드는작업은 아직 완성하지못했습니다.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/login_new/">new member</a></div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/login_ser">miss ID/PW</a></div>
    </div>
    <!-- Content Row-->
</div>
{% endblock %}