<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>mysite</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>mysite</h1>-->
<!--{% if content_list %}-->
<!--    {% for content in content_list %}-->
<!--        <hr/>-->
<!--        <h3><a href="/mysite/{{ content.id }}/">{{ content.title }}</a></h3>-->
<!--        <h5>{{ content.content}}</h5>-->
<!--    {% endfor %}-->
<!--{% else %}-->
<!--    <p>content 가 없습니다.</p>-->
<!--{% endif %}-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/mysite/main/">JH.CO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mysite/main/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/company/">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mysite/">Services</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{{ user.username }} (logout)</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Bootstrap core JS-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!--        &lt;!&ndash; Core theme JS&ndash;&gt;-->
<!--        <script src="js/scripts.js"></script>-->
    </body>
</html>